<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validation</servlet-name>
        <servlet-class>servlet.validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDetails</servlet-name>
        <servlet-class>servlet.ServletDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>servlet.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItems</servlet-name>
        <servlet-class>servlet.deleteItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorValid</servlet-name>
        <servlet-class>servlet.ErrorValid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validation</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDetails</servlet-name>
        <url-pattern>/ServletDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItems</servlet-name>
        <url-pattern>/deleteItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorValid</servlet-name>
        <url-pattern>/ErrorValid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
